.ui-column {
  display: block;
}

.ui-column.column-width-twenty {
  width: 20%;
}

.ui-column.column-width-thirty {
  width: 30%;
}

.ui-column.column-width-forty{
  width: 40%;
}

.ui-column.column-width-fifty{
  width: 50%;
}

.ui-column.column-width-sixty{
  width: 60%;
}

.ui-column.column-width-seventy{
  width: 70%;
}

.ui-column.column-width-eighty{
  width: 80%;
}
