body {
  font-family: Verdana, Tahoma, "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif;
  font-size: small;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.ui-background-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ui-base-component {
  margin-right: 10px;
  margin-bottom: 10px;
}
.ui-invisible {
  display: none !important;
  visibility: hidden !important;
}
.ui-action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #DCDCD9;
  width: 21px;
  height: 21px;
  color: #95a5a6;
}
.ui-action-button::hover {
  color: #b4c5cf;
}
.ui-action-button > .icon {
  color: #95a5a6;
}
.ui-action-button > .icon:hover {
  color: #b4c5cf;
}
.ui-base-list-tree-item {
  border-style: none;
  border-left: solid;
  border-left-color: transparent;
  border-left-width: 4px;
  color: #000000;
  opacity: 0.5;
}
.ui-base-list-tree-item.selected {
  border-style: none;
  color: #000000;
  opacity: 1;
  border-left: solid;
  border-left-color: #007830;
  border-left-width: 4px;
}
.ui-button {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  background: #2980b9;
  padding: 5px 10px 5px 10px;
  height: 20px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.ui-button:hover {
  background-color: #b4c5cf;
  text-decoration: none;
}
.ui-button.size-small {
  width: 50px;
}
.ui-button.size-normal {
  width: 75px;
}
.ui-button.size-large {
  width: 100px;
}
.ui-chat-list-item {
  display: block;
  background-color: transparent;
  width: 100%;
}
.ui-chat-list-item .base-item {
  display: block;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  margin: 10px;
  padding: 10px 20px 10px 20px;
}
.ui-chat-list-item .line {
  width: 100%;
  height: 100%;
}
.ui-chat-list-item .line > .sent-item {
  display: block;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  margin: 10px;
  padding: 10px 20px 10px 20px;
  color: #ffffff;
  background-color: #59ABE3;
}
.ui-chat-list-item .sent-item:focus,
.ui-chat-list-item .sent-item:hover {
  background-color: #b4c5cf;
}
.ui-chat-list-item .line > .recived-item {
  display: block;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  margin: 10px;
  padding: 10px 20px 10px 20px;
  text-align: right;
  color: #000000;
  background-color: #ECF0F1;
  width: auto;
}
.ui-chat-list-item .recived-item:focus,
.ui-chat-list-item .recived-item:hover {
  background-color: #b4c5cf;
}
.ui-console .input-console {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.ui-divider {
  border-top: 1px solid #DCDCD9;
  margin-left: 10px;
}
.ui-editor .input-editor {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.ui-file-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
}
.ui-file-list-item .content {
  order: -1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.ui-file-list-item .item-icon {
  margin-right: 10px;
}
.ui-file-list-item:focus,
.ui-file-list-item:hover {
  background-color: #555;
}
.ui-file-list-item.ui-base-list-tree-item.selected {
  color: #555;
}
.ui-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  width: 350px;
  padding: 1px 5px 1px 5px;
  margin-bottom: 5px;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  border: 1px solid;
  border-color: #ABB7B7;
  background-color: #ffffff;
}
.ui-input:focus {
  border-color: #59ABE3;
}
.ui-input .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(95%);
  height: 30px;
}
.ui-input .inputCaption {
  background: #FFF no-repeat 0px 0px;
  background-attachment: fixed;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-indent: 3px;
  padding: 0px;
  margin: 0;
  border: none;
}
.ui-input .inputCaption:focus {
  outline: none;
}
.ui-input .actionItem {
  display: none;
  margin-top: 1px;
  width: 5px;
  color: #ABB7B7;
}
.ui-input .actionItem:focus,
.ui-input .actionItem:hover {
  width: 5px;
  color: #000000;
}
.ui-input .actionItem.has-action {
  display: block;
}
.ui-input .hint {
  display: none;
  color: #ABB7B7;
  font-size: 10px;
  text-indent: 3px;
  padding: 0;
  margin: 0;
}
.ui-input .hint.has-hint {
  display: block;
  -webkit-animation: slide 0.5s forwards;
}
.ui-input.has-error {
  border-width: medium;
  border-color: #c0392b;
}
.ui-list {
  height: 100%;
  overflow: hidden;
}
.ui-list .holder {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.ui-list .list-item {
  display: block;
  width: 100%;
}
.list-decorator.max-list-item {
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: -10px;
}
.ui-message-textbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  width: 350px;
  padding: 1px 5px 1px 5px;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  border: 1px solid;
  border-color: #ABB7B7;
}
.ui-message-textbox:focus {
  border-color: #59ABE3;
}
.ui-message-textbox .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(95%);
  height: 30px;
}
.ui-message-textbox .inputField {
  background: #FFF no-repeat 0px 0px;
  background-attachment: fixed;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-indent: 3px;
  padding: 0px;
  margin: 0;
  border: none;
}
.ui-message-textbox .inputField:focus {
  outline: none;
}
.ui-message-textbox .actionItem {
  margin-top: 1px;
  width: 5px;
  color: #ABB7B7;
}
.ui-message-textbox .actionItem:focus,
.ui-message-textbox .actionItem:hover {
  width: 5px;
  color: #000000;
}
.ui-message-textbox .hint {
  display: none;
  color: #ABB7B7;
  font-size: 10px;
  text-indent: 3px;
  padding: 0;
  margin: 0;
}
.ui-message-textbox .hint.has-hint {
  display: block;
  -webkit-animation: slide 0.5s forwards;
}
.ui-navigation-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
}
.ui-navigation-list-item .content {
  order: -1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.ui-navigation-list-item .name {
  flex-grow: 3;
}
.ui-navigation-list-item .item-icon {
  margin-right: 10px;
}
.ui-navigation-list-item .drop-arrow {
  order: 5;
  font-weight: lighter;
  font-size: 10px;
}
.ui-navigation-list-item .closed {
  padding-right: 4px;
}
.ui-navigation-list-item:focus,
.ui-navigation-list-item:hover {
  background-color: #555;
}
.ui-navigation-list-item.ui-base-list-tree-item {
  color: #ffffff;
}
.ui-navigation-list-item.ui-base-list-tree-item.selected {
  color: #ffffff;
}
.progress-bar {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.progress-bar .holder {
  height: 30px;
  position: relative;
  background: #555;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.progress-bar .clear-bar {
  display: block;
  position: fixed;
  height: 30px;
  width: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
}
.progress-bar .overlay-bar {
  display: block;
  position: fixed;
  height: 30px;
  width: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #2bc253;
  background-image: linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  text-align: center;
}
.progress-bar .bar {
  display: block;
  height: 30px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #2bc253;
  background-image: linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  text-align: center;
}
.progress-bar .close {
  position: relative;
  bottom: 6px;
  right: 1px;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.progress-bar .close:hover,
.progress-bar .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.progress-bar .info {
  display: inline-block;
  color: white;
}
.ui-tree {
  height: 100%;
  overflow: hidden;
}
.ui-tree .holder {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.ui-tree .tree-item {
  display: block;
  width: 100%;
}
.ui-user-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
.ui-user-list-item.selected {
  color: #000;
}
.ui-user-list-item .content {
  order: -1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.ui-user-list-item .name {
  flex-grow: 3;
}
.ui-user-list-item .item-icon {
  margin-right: 10px;
}
.ui-user-list-item:focus,
.ui-user-list-item:hover {
  background-color: #555;
}
.ui-basic-frame {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  height: 100%;
}
.ui-basic-frame > .mainContent {
  position: relative;
  float: right;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.ui-context-menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-context-menu .modal {
  display: block;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 6;
  /* Sit on top */
  left: 50px;
  top: 100px;
  width: 200px;
  /* Full width */
  height: 200px;
  /* Full height */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.ui-context-menu .modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ui-context-menu .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.ui-context-menu .close:hover,
.ui-context-menu .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.ui-dialog {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-dialog .modal {
  display: block;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 6;
  /* Sit on top */
  top: 100px;
  left: 150px;
  width: calc(100% - 300px);
  /* Full width */
  height: 200px;
  /* Full height */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.ui-dialog .modal.size-small {
  left: 250px;
  width: calc(100% - 500px);
}
.ui-dialog .modal.size-normal {
  left: 150px;
  width: calc(100% - 300px);
}
.ui-dialog .modal.size-large {
  left: 50px;
  width: calc(100% - 100px);
}
.ui-dialog .modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ui-dialog .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.ui-dialog .close:hover,
.ui-dialog .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.ui-dock-screen {
  display: block;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 200px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}
.ui-dock-screen.align-top {
  top: 0;
}
.ui-dock-screen.align-bottom {
  bottom: 0;
}
.ui-dock-screen.align-left {
  left: 0;
}
.ui-dock-screen.align-right {
  right: 0;
}
.ui-dock-screen .modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ui-flow {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.ui-flow .half {
  height: 25%;
}
.ui-flow.left-to-right {
  justify-content: center;
}
.ui-flow.right-to-left {
  justify-content: flex-end;
}
.ui-frame {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  height: 100%;
}
.ui-frame > .topBar {
  overflow: hidden;
  position: relative;
  float: right;
  width: 100%;
  height: 15%;
  background-color: #bdc3c7;
}
.ui-frame > .leftBar {
  overflow: hidden;
  position: relative;
  float: left;
  bottom: 0;
  height: 85%;
  width: 15%;
  background-color: #34495e;
}
.ui-frame > .holder {
  overflow: hidden;
  position: relative;
  float: right;
  bottom: 0;
  height: 85%;
  width: 85%;
  background: #BCBCBC;
}
.ui-frame > .holder > .mainContent {
  position: relative;
  float: right;
  top: 10px;
  bottom: 0;
  right: 10px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  overflow: hidden;
}
.ui-full-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ui-full-screen.image {
  background-size: cover;
}
.ui-full-screen .credentials {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ui-group {
  width: 100%;
  display: block;
}
.ui-group .half {
  height: 25%;
}
.ui-group.background-image {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ui-panel {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.ui-panel .base {
  padding: 10px;
}
.ui-panel .top-dock {
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-style: none;
  border-bottom: solid;
  border-top: solid;
  border-top-color: #007830;
  border-top-width: 5px;
  border-bottom-color: #DCDCD9;
  border-bottom-width: thin;
  display: none;
}
.ui-panel .has-top-dock {
  display: flex;
}
.ui-panel .has-top-dock-content {
  padding: 5px;
}
.ui-panel .has-top-dock-content * {
  margin-right: 0;
  margin-bottom: 0;
}
.ui-panel .body {
  padding: 10px;
  display: block;
  height: 100%;
  overflow: hidden;
}
.ui-panel .bottom-dock {
  padding: 10px;
  flex-direction: row;
  justify-content: flex-start;
  display: none;
}
.ui-panel .has-bottom-dock {
  display: flex;
}
.ui-partition-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  height: 100%;
  overflow: hidden;
}
.ui-partition-screen > .left-side {
  position: relative;
  float: left;
  bottom: 0;
  height: 100%;
  width: 15%;
  background-color: #ffffff;
  overflow: hidden;
}
.ui-partition-screen > .holder {
  overflow: hidden;
  position: relative;
  float: right;
  bottom: 0;
  height: 100%;
  width: 85%;
  background: #BCBCBC;
}
.ui-partition-screen > .holder > .right-side {
  overflow: hidden;
  position: relative;
  float: right;
  left: 10px;
  height: 100%;
  width: 100%;
}
.ui-decorators .icon {
  display: none;
  color: #DCDCD9;
  margin-left: 10px;
}
.ui-decorators .has-icon {
  display: block;
}
.ui-decorators .icon:hover {
  color: #000000;
}
