.ui-file-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
}

.ui-file-list-item .content {
  order: -1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.ui-file-list-item .name {
  // margin-top: 6px;
  // margin-bottom: 6px;
  // flex-grow: 3;
}

.ui-file-list-item .item-icon {
  // margin-top: 5px;
  // margin-bottom: 5px;
  margin-right: 10px;
}

.ui-file-list-item:focus,
.ui-file-list-item:hover {
  background-color: #555;
}

.ui-file-list-item.ui-base-list-tree-item.selected {
  color: #555;
}
