.ui-column-layout {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.ui-column-layout .half {
  height: 25%;
}

.ui-column-layout.left-to-right {
  justify-content: flex-start;
}

.ui-column-layout.center {
  justify-content: center;
}

.ui-column-layout.right-to-left {
  // padding-right: 10px;
  justify-content: flex-end;
}
